<footer class="card light">
    <p>&copy; {% year %} {{ meta.siteName }}</p>
    <span><a href="/feed.xml">RSS</a> | <a href="/sitemap.xml">Sitemap</a> | <a href="https://github.com/willmartian/willmartian.com">Source</a></span>
</footer>