<footer>
  <div>
    <p>&copy; {% year %} {{ meta.siteName }}{% if meta.authorName %} • {{ meta.authorName }}{% endif %}</p>
    <span><a href="/accessibility-statement">Accessibility Statement</a> | <a href="/sitemap.xml">Sitemap</a> | Built with <a href="https://stenciljs.com/">Stencil</a> and <a href="https://www.11ty.dev/">11ty</a></span>
  </div>
</footer>