<nav class="mb-12">
  <div class="flex items-baseline gap-4 flex-wrap text-lg">
    <a href="/" class="nav-link {% if page.url == '/' %}active{% endif %}">home</a>
    <a href="/about/" class="nav-link {% if page.url == '/about/' %}active{% endif %}">about</a>
    <a href="/feed.xml" class="nav-link">rss</a>
  </div>
</nav>
