{% set currentUrl %}{{ page.url }}{% endset %}

<nav id="top" class="global-nav">
  <ul role="list">
    <li>
      <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">
        w://
      </a>
    </li>

    {% for page in collections.pages %}
    <li>
      <a 
        {% if currentUrl === page.url %}aria-current="page"{% endif %} 
        href="{{ page.url }}">
          {{ page.data.title }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</nav>