---
layout: page.njk
---
<section><b>Published:</b> <time datetime="{{ page.date }}">{{ page.date.toLocaleDateString() }}</time></section>

{{ content | safe }}

{% if comments %}
    <script type="module" src="https://cdn.jsdelivr.net/npm/ap-comments@0.1.1/dist/ap-comments.js"></script>
    <div class="comments">
        <ap-comments src="{{ comments }}"><ap-comments>
    </div>
{% endif %}
