---
  title: about me
---

<div class="auto-grid gap-16">
    <div>
      <p>Hi. I'm a software engineer and designer based out of Atlanta, GA. Some things I have done:</p>
      <ul>
        <li>Lead the UI Foundations team at <a href="https://bitwarden.com">Bitwarden</a>, an open source password manager</li>
        <li>Worked on the <a href="https://github.com/ionic-team/ionic-framework">Ionic Framework</a>, an open source UI toolkit for creating hybrid mobile apps</li>
        <li>
          Tested games for Cartoon Network and Adult Swim
        </li>
        <li>
          Studied human-computer interaction (psychology + comp sci) at Georgia Tech and information science at Florida State
        </li>
      </ul>
    </div>
    <figure>
      <img src="/files/microcenter.jpeg" />
      <figcaption>Yes, I posed in the Microcenter parking lot with my newborn.</figcaption>
    </figure>
</div>
