---
  title: about me
---

<div class="grid gap-2">
  <div>
    <p>Hi. I am currently a senior front end engineer at [Bitwarden](https://bitwarden.com), the open source password manager. I work on the "platform" team--I build tools and libraries that (hopefully) makes everyone else's work easier.</p>
    <p>Before that, I worked on the [Ionic Framework](https://github.com/ionic-team/ionic-framework), an open source UI toolkit. I've also worked for Old Dominion University and Cartoon Network.</p>
    <p>I studied HCI at Georgia Tech and did my MLIS at Florida State.</p>
  </div>

  <img src="/files/microcenter.jpeg" />
</div>