---
  title: who??
  wide: true
---

<div class="grid gap-16 grid-cols-1 lg:grid-cols-2">
  <div>
    <p>
      Hi. I'm a software engineer and designer based in Atlanta, GA.
    </p>
    <p>Some work I've done:</p>
    <ul>
      <li>Led the UI Foundations team at <a href="https://bitwarden.com">Bitwarden</a>, an open source password manager</li>
      <li>Contributed to the <a href="https://github.com/ionic-team/ionic-framework">Ionic Framework</a>, an open source UI toolkit for creating hybrid mobile apps</li>
      <li>Tested games for Cartoon Network and Adult Swim</li>
      <li>Studied human-computer interaction (psychology + comp sci) at Georgia Tech and information science at Florida State</li>
    </ul>
    <p>
      I'm always open to hearing about new oppurtunities. Say hi on
      <a href="https://www.linkedin.com/in/willmartindev/">LinkedIn</a>.
    </p>
  </div>
  <figure>
    <img
      src="/files/microcenter.jpeg"
      alt="Me, holding my infant child and smiling in the parking lot of a Micro Center. I am wearing a coat and winter hat. My kid is wearing a Grogu jacket from The Mandalorian and a yellow onesie with flowers."
      width="1200"
      height="900"
      loading="lazy"
    />
    <figcaption>Yes, I posed in the Micro Center parking lot with my newborn.</figcaption>
  </figure>
</div>
