---
  title: "posts ✏️"
---

<form id="tag-list">
  {% for tag in collections.tagList %}
    <div class="tag-toggle">
      <input id="{{ tag }}" name="{{ tag }}" type="checkbox">
      <label for="{{ tag }}">{{ tag }}</label>
    </div>
  {% endfor %}
</form>

<section id="post-list">
  {% for post in collections.posts | reverse %}
    {% postCard post %}
  {% endfor %}
</section>

<script>
  //TODO add url params
  const inputs = [...document.querySelectorAll('form input')];

  inputs.forEach(input => input.addEventListener('click', (ev) => updateList()))
  
  const updateList = () => {
    const checked = inputs.filter(input => input.checked);
    
    [...document.querySelectorAll('[data-tags]')].forEach(entry => {
      let isHidden = 0;

      if (checked.length === 0) {
        entry.hidden = false;
      }

      checked.forEach(tag => {
        if (entry.dataset.tags.includes(tag.id)) {
          isHidden += 1;
        }
        entry.hidden = checked.length !== isHidden; 
      })
    })
  }
</script>

<noscript>
  <style>
    #post-preamble, form {
      display: none;
    }
  </style>
<noscript>