@import 'tailwindcss';

:root {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;

  --color-secondary: var(--color-emerald-700);
  --color-text: black;
}

html,
body {
  color: var(--color-text);
  @apply bg-amber-50 text-[20px] md:text-[24px];
  margin: 0;
  padding: 0;
}



body {
  padding: 2rem;
}

@view-transition {
  navigation: auto;
}

h1 {
  margin-top: 0;
  font-size: 2rem;
  color: var(--color-text);
  font-weight: 600;
}

.title {
  @apply mb-4 block;
}

h2 {
  font-size: 1rem;
  color: var(--color-secondary);
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

ul,
ol {
  max-width: 80ch;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  li {
    margin: 0;
  }
}

@utility card {
  box-shadow: 4px 4px black;
  @apply rounded-md border-solid border-2 border-black text-sm bg-white;

  &:not(img) {
    @apply max-w-fit p-4;
  }
}

figure {
  img {
    @apply card;
  }
  
  figcaption {
    @apply card float-end -mt-6 mx-6 z-10 relative;
  }
}

p {
  max-width: 65ch;
  line-height: 1.75rem;
  @apply mb-6;
}

a,
a:visited {
  color: var(--color-emerald-700);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
  }
}

ap-comments {
  --color-muted: black;
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

sl-icon-button {
  color: black;
  --sl-color-primary-600: var(--color-emerald-600);
}

sl-icon-button::part(base) {
  padding: 0;
}

hr {
  max-width: 65ch;
  margin-left: 0;
}
