@import 'tailwindcss';

:root {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;

  --color-background: white;
  --color-primary: #1a508a;
  --color-secondary: #008275;
  --color-text: black;
  --color-muted: #e0ecf1;
}

html,
body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: 24px;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;
}

h1 {
  margin-top: 0;
  font-size: 2rem;
  color: var(--color-text);
}

.title {
  display: inline;
  margin-bottom: 0;
}

h2 {
  font-size: 1rem;
  color: var(--color-secondary);
}

ul,
ol {
  max-width: 80ch;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

li {
  margin: 0;
}

.post-list {
  margin-top: 2rem;
}

.post-meta {
  font-size: 0.85rem;
  border: 2px solid black;
  max-width: fit-content;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 4px 4px black;
  background-color: #0082753d;
}

article {
  margin-top: 3rem;
}

p {
  max-width: 65ch;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
  margin-top: 2rem;
}

a,
a:visited {
  color: var(--color-secondary);
  /* text-decoration-style: un; */
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
  }
}

.comments {
  margin-top: 3em;
  font-size: 0.85rem;
}

ap-comments {
  --color-muted: black;
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

sl-icon-button::part(base) {
  padding: 0;
}

hr {
  max-width: 65ch;
  margin-left: 0;
}

.top-nav {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.25rem;
}

.about-page {
  display: flex;
  max-width: fit-content;

  & > div {
    min-width: 50%;
    flex: 1;
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }
}
