---
  title: Home | WillMartian.com
  layout: base.njk
---

<main>
  <h1 class="title"><span>w://</span> marti<span>a</span>n</h1>
  <p class="lead">I am a researcher, web developer, and open source advocate.</p>
  <p>Sometimes I talk about those things on this website.</p> 

  <section id="latest">
    <h2>Latest Post</h2>
    {% postCard collections.posts | last %}
  </section>
</main>